@page "/"
@using Visitor.Web.Common.Layout
@layout KioskLayout

<div class="selector">
    <NavLink href="/kiosk" class="select-it">Kiosk</NavLink>
    <NavLink href="/dashboard" class="select-it">Dashboard</NavLink>
</div>

@code {

}