.dashboard-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.visitor-sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.visitor-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: .5rem;
}

    .visitor-section > h4 {
        background-color: gray;
        padding: 1rem;
        border: 1px solid gray;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
    }
    /*.visitor-section > h4 {
        background-color: gray;
        padding: 1rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }*/

@media (min-width: 641px) {
    .dashboard-container {
        padding-left: 0;
        padding-right: 0;
    }


    .visitor-sections {
        display: flex;
        flex-direction: row;
    }
}