@page "/"
@using Visitor.Shared.Common.Interfaces
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

The Message: @(message == "" ? "No message" : message)

@code {
@inject IVisitCommunicationService communicationService;

    string message = "";

    protected override async Task OnInitializedAsync()
    {
        communicationService.OnMessageReceived += (msg) =>
        {
            message = msg;
        };

        await communicationService.CreateHub();
    }

    public async ValueTask DisposeAsync()
    {
        await communicationService.DisposeAsync();
    }
}
