@using Visitor.Web.Features.VisitsForDate

<div class="container">
    <VisitorOverviewHeader OnChange="loadVisitData" ForDate="DateTime.Now.Date" />
    
    @if (dashboardData == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <VisitorOverviewSections Data="dashboardData" OnChange="loadVisitData" />
    }
</div>

@code {
    @inject IQueryHandler<GetVisitsForDate.Query, DashboardDataDTO> getDashboardDataQueryHandler;
    
    private DashboardDataDTO? dashboardData;
    

    [CascadingParameter]
    public ApplicationContext? Context { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await loadVisitData();
    }

    async Task loadVisitData()
    {
        var result = await getDashboardDataQueryHandler.Handle(new GetVisitsForDate.Query(DateTime.Now.Date), CancellationToken.None);

        if (result.IsError)
        {
            var firstError = result.Errors.FirstOrDefault();
            Context?.AddError(firstError.Description ?? "An unknown error occurred.");
            return;
        }
        
        dashboardData = result.Value;
    }
}
