@using Visitor.Web.Common.Interfaces
@using Visitor.Web.Features.PlanVisit

<div class="header">
    <div>
        <h3>Besucher Tagesübersicht</h3>
        <p class="subtitle">Status für @ForDate.ToLocalTime().ToString("dddd, dd MMMM yyyy", new System.Globalization.CultureInfo("de-DE"))</p>
    </div>

    <div class="action-buttons">
        <PlanVisit OnVisitPlanned="OnVisitPlanned" />
        <GreenButton OnClick="openSelfService">
            Self-Service
        </GreenButton>
    </div>
</div>

@code {
    @inject IVisitCommunicationService communicationService;

    [CascadingParameter]
    public ApplicationContext? Context { get; set; }

    [Parameter, EditorRequired]
    public DateTime ForDate { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    private async Task openSelfService()
    {
        await communicationService.Broadcast("activateSelfService");
    }

    private async Task OnVisitPlanned()
    {
        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync();
        }
    }
}
