.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.subtitle {
    margin-top: 0.25rem;
    color: #6b7280;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    align-self: end;
}

@media (min-width: 641px) {

    .header {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .action-buttons {
        display: flex;
        gap: 0.5rem;
        align-self: center;
    }
}