@using Visitor.Shared.Common.Interfaces
@using Visitor.Web.Common.Buttons
@using Visitor.Web.Features.PlanVisit

<div class="header">
    <div>
        <h3>Besucher Tagesübersicht</h3>
        <p class="subtitle">Status für @ForDate.ToLocalTime().ToString("dddd, dd MMMM yyyy", new System.Globalization.CultureInfo("de-DE"))</p>
    </div>

    <div class="action-buttons">
        <PlanVisit OnVisitPlanned="OnVisitPlanned" />
        <GreenButton OnClick="openSelfService">
            Self-Service
        </GreenButton>
    </div>
</div>

@code {
    @inject IVisitCommunicationService communicationService;

    [CascadingParameter]
    public ApplicationContext? Context { get; set; }

    [Parameter, EditorRequired]
    public DateTime ForDate { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    protected override async Task OnInitializedAsync()
    {
        communicationService.OnMessageReceived += (msg) =>
        {

        };

        await communicationService.CreateHub();
    }

    private async Task openSelfService()
    {
        await communicationService.SendMessage("self-service");
    }

    private async Task OnVisitPlanned()
    {
        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync();
        }
    }

    public async ValueTask DisposeAsync()
    {
        await communicationService.DisposeAsync();
    }
}
