@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Navbar />
    </div>

    <main>
        <div class="top-row px-4">
            <Auth />
        </div>

        @if (Context is not null && Context.HasErrors())
        {
            <ErrorMessage Message="@Context.Errors.Last()" ClearErrors="@Context.ClearErrors" />
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    [CascadingParameter]
    public ApplicationContext? Context { get; set; }

    protected override void OnInitialized()
    {
        if (Context is not null)
        {
            Context.OnError += () => StateHasChanged();
            Context.IsBusyChanged += (bool isBusy) =>
            {
                StateHasChanged();
            };
        }
    }
}