
@if (IsVisible)
{
    <div class="modal-overlay" @onclick="OnClose">
        <div class="modal-content" @onclick:stopPropagation="true">
            <div class="modal-header">
                <h3>@Title</h3>
                <CloseButton OnClick="OnClose" />
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
        </div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public bool IsVisible { get; set; }

    [Parameter, EditorRequired]
    public string Title { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnClose { get; set; }
}
