.container {
    border-bottom: 1px solid #e1e0e0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.2rem;
}

    .container:first-of-type {
        padding-top:0;
    }

    .container:last-of-type {
        border: none;
    }

.visitor-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.names {

}

.name {
    font-size: 1rem;
    font-weight: bold;
}

.company {
    font-size: .9rem;
}

.action {
    display: flex;
    padding-right: .5rem;
}

::deep .btn-arrival {
    background-color: #10b981;
    color: white;
    white-space: nowrap;
}

    ::deep .btn-arrival:hover {
        background-color: #059669;
    }

::deep .btn-leave {
    background-color: #e04747;
    color: white;
    white-space: nowrap;
}

    ::deep .btn-leave:hover {
        background-color: #b24141;
    }


