@using Visitor.Shared.DTOs
@using Visitor.Web.Common.Domains
@using Visitor.Web.Common.Interfaces
@using Visitor.Web.Features.VisitsForDate

@if (VisitorSummary is not null)
{
    <div class="container">
        <VisitorDetail Name="@VisitorSummary.Name" Company="@VisitorSummary.Company">
            @if (VisitorSummary.Status == VisitorStatus.Planned)
                {
                    <GreenButton OnClick="() => HandleVisitorArrival(VisitorSummary.Id)">
                        <Arrive />
                    </GreenButton>
                }
                @if (VisitorSummary.Status == VisitorStatus.Arrived)
                {
                    <RedButton OnClick="() => HandleVisitorLeave(VisitorSummary.Id)">
                        <Leave />
                    </RedButton>
                }
        </VisitorDetail>
    </div>
}

@code {
    
    @inject ICommandHandler<VisitorLeaves.Command, VisitorEntity> visitorLeavesCommandHandler;
    @inject IVisitCommunicationService communicationService;

    [CascadingParameter]
    public ApplicationContext? Context { get; set; }

    [Parameter, EditorRequired]
    public VisitorSummaryDTO? VisitorSummary { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    private async Task HandleVisitorArrival(Guid visitorId)
    {
        if(VisitorSummary is null)
        {
            return;
        };

        var dto = new CommunicationDTO
            {
                Id = VisitorSummary.Id,
                Name = VisitorSummary.Name,
                Company = VisitorSummary.Company,
                Mode = "REMOTE_CHECK_IN"
            };

        var payload = System.Text.Json.JsonSerializer.Serialize(dto);

        await communicationService.Broadcast(payload);

        // var result = await markVisitorArrivedCommandHandler.Handle(new MarkVisitorArrived.Command(visitorId), CancellationToken.None);

        // if (result.IsError)
        // {
        //     var firstError = result.Errors.FirstOrDefault();
        //     Context?.AddError(firstError.Description ?? "An error occurred while marking visitor as arrived.");
        //     return;
        // }

        // if (OnChange.HasDelegate)
        // {
        //     await OnChange.InvokeAsync();
        // }
    }

    async Task HandleVisitorLeave(Guid visitorId)
    {
        var result = await visitorLeavesCommandHandler.Handle(new VisitorLeaves.Command(visitorId), CancellationToken.None);

        if (result.IsError)
        {
            var firstError = result.Errors.FirstOrDefault();
            Context?.AddError(firstError.Description ?? "An error occurred while marking visitor as left.");
            return;
        }

        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync();
        }
    }
}
