.container {
    border-bottom: 1px solid #e1e0e0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.2rem;
}

    .container:first-of-type {
        padding-top:0;
    }

    .container:last-of-type {
        border: none;
    }

.visitor-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.names {
    flex-grow: 1;
}

.name {
    font-size: 1rem;
    font-weight: bold;
}

.company {
    font-size: .9rem;
}

.btn-arrival {
    background-color: #10b981;
    color: white;
    white-space: nowrap;
}

    .btn-arrival:hover {
        background-color: #059669;
    }
