.container {
    border-bottom: 1px solid #e1e0e0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.2rem;
}

    .container:first-of-type {
        padding-top:0;
    }

    .container:last-of-type {
        border: none;
    }

    .name {
        font-size: 1rem;
        font-weight: bold;
    }

.company {
    font-size: .9rem;
}
