@using Visitor.Web.Common.Buttons
@using Visitor.Web.Features.PlanVisit

<div class="header">
        <div>
            <h3>Visitor Overview</h3>
            <p class="subtitle">Status for @DateTime.UtcNow.ToString("dddd, dd MMMM yyyy")</p>
        </div>

        <div class="action-buttons">
            <ActionButton CssClass="btn-plan" OnClick="openPlanVisitModal">Besuch planen</ActionButton>
            <ActionButton CssClass="btn-selfservice" OnClick="openSelfService">Self-Service</ActionButton>
        </div>
    </div>

    <PlanVisitModal IsVisible="showPlanModal" 
                    OnVisitPlanned="OnVisitPlanned" 
                    OnClose="closePlanVisitModal" />

@code {
    @inject NavigationManager Navigation

    private bool showPlanModal = false;

    [CascadingParameter]
    public ApplicationContext? Context { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }


    private void openPlanVisitModal()
    {
        showPlanModal = true;
    }

    private void closePlanVisitModal()
    {
        showPlanModal = false;
    }

    private void openSelfService()
    {
        Navigation.NavigateTo("/kiosk");
    }

    private async Task OnVisitPlanned()
    {
        if (OnChange.HasDelegate)
        {
            await OnChange.InvokeAsync();
        }
    }
}
