@using Visitor.Web.Features.VistorInfo
@using Visitor.Web.Common.Buttons

@if (VisitorSummary is not null)
{
    <div class="container">
        <div class="visitor-content">
            <div class="names">
                <div class="name">@VisitorSummary.Name</div>
                <div class="company">@VisitorSummary.Company</div>
            </div>
            <div class="action">
            @if (OnArrival.HasDelegate)
            {
                <ActionButton CssClass="btn-arrival" OnClick="() => OnArrival.InvokeAsync(VisitorSummary.Id)">
                    <Arrive />
                </ActionButton>
            }
                @if (OnLeave.HasDelegate)
                {
                    <ActionButton CssClass="btn-leave" OnClick="() => OnLeave.InvokeAsync(VisitorSummary.Id)">
                        <Leave />
                    </ActionButton>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public VisitorSummaryDTO? VisitorSummary { get; set; }

    [Parameter]
    public EventCallback<Guid> OnArrival { get; set; }

    [Parameter]
    public EventCallback<Guid> OnLeave { get; set; }
}
