.container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.header {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.day-container {
/*    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;*/
    min-width: 16%;
    border: 1px solid #e1e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}



.header-row {
    display: flex;
    /*border-bottom: 1px solid #e1e0e0;*/
    background-color: #f4f4f4;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

.header-row-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-bottom: 1px solid #bdbdbd;
}

.day-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.header-row-action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.visits-list {
    margin-top: .7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}

@media (min-width: 641px) {
    .container {
        
    }

    .header {
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
