.btn-standard {
    outline: none;
    background-color: #007bff;
    padding: .7rem 1.5rem;
    border-radius: .5rem;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-standard:hover {
    background-color: #00bfff;
}

.btn-standard:active {
    transform: scale(0.95);
}
