name: Build and Push Docker Image for Server and Kiosk

on:
  push:
    branches:
      - '**'  # All branches
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: visitor
  IMAGE_NAME_KIOSK: visitorkiosk

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-restore

  build:
    runs-on: ubuntu-latest
    needs: tests
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v1
        with:
          versionSpec: "5.x"
      
      - name: Run GitVersion
        id: gitversion
        uses: gittools/actions/gitversion/execute@v1
        with:
          useConfigFile: true
          configFilePath: GitVersion.yml

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Log in to GitHub Container Registry
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Extract metadata for Docker
      #   if: github.ref == 'refs/heads/main'
      #   id: meta
      #   uses: docker/metadata-action@v5
      #   with:
      #     images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      #     tags: |
      #       type=raw,value=latest
      #       type=sha,prefix={{branch}}-

      - name: Build and push Docker image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/Visitor.Web/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:${{ steps.gitversion.outputs.semVer }}
          build-args: BUILD_VERSION=${{ steps.gitversion.outputs.semVer }}
          builder: ${{ github.run_id }}
          no-cache: true
          
      - name: Build and push Docker image
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v5
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
        with:
          context: .
          file: ./src/Kiosk/Visitor.Kiosk.Web/Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME_KIOSK }}:latest
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME_KIOSK }}:${{ steps.gitversion.outputs.semVer }}
          build-args: BUILD_VERSION=${{ steps.gitversion.outputs.semVer }}
          builder: ${{ github.run_id }}
          no-cache: true

      # - name: Build Docker image (non-main branches)
      #   if: github.ref != 'refs/heads/main'
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: ./src/Visitor.Web/Dockerfile
      #     push: false
      #     tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
